@import "../../styles/var";
.wcu {
  .wcu_title {
    background-color: $primary-coffee;
    font-size: 20px;
    width: fit-content;
  }

  .wcuCard {
    transform: scaleX(0.98);
    div {
      z-index: 100;
    }
    .iconContainer {
      position: relative;
      z-index: 100;
      .icon {
        font-size: 100px;
      }
      .circle {
        z-index: -1;
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $primary-coffee-light;
        bottom: 0;
        right: 0;
      }
    }
    .cardTitle {
      font-size: 20px;
    }
    .cardText {
      color: $text-gray;
      font-size: 18px;
    }
  }
}
