@import "../../styles/var";
.changePassword {
  .header {
    .icon {
      font-size: $font-lg;
      color: $bb-dark;
    }
    .heading {
      color: $bb-dark;
    }
  }
  .tableContainer {
    overflow: auto;
    button{
      font-size: $font-sm;
    }
    table {
      
      img {
        width: min-content;
        max-width: 200px;
        height: min-content;
        max-height: 300px;
        cursor: pointer;
      }
    }
  }
}
