@import "../../styles/var";
.feedbackBanner {
  position: relative;
  height: 350px;
  .imageContainer {
    img {
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: brightness(40%);
    }
  }
  .feedbackText {
    position: absolute;
    top: 0;
    height: 350px;
    
    .bannerHeading {
      font-size: 55px;
      font-weight: bold;
      color: $primary-light;

    }
    
  }
}
