@import "../../styles/var";
.modal {
  background-color: #00000079;
  &::-webkit-scrollbar {
    width: 0px;
    background-color: $primary-coffee-light;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-coffee;
  }
  .galleryEdit {
    .header {
      .icon {
        font-size: $font-lg;
        color: $bb-dark;
      }
      .heading {
        color: $bb-dark;
      }
    }
  }
}
