@import "../../styles/var";
.galleryCard {
  .tabsContainer {
    // overflow: auto;
    .ul_tabs {
      border-color: $primary-coffee;

      li {
        button {
          color: $primary-coffee;
          font-size: 18px;
          font-weight: 700;
        }
        .active_tab {
          color: $primary-light;
          background-color: $primary-coffee;
        }
        .not_active {
          color: $primary-coffee;
          background-color: transparent;
        }
      }
      &::-webkit-scrollbar {
        height: 6px;
        background-color: $primary-coffee-light;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary-coffee;
      }
    }
    .galleryItem {
      div {
        img {
          // width: 90px;
          // height: 90px;
          z-index: 100;
        }
      }
    }
    .loadmore {
      background-color: $primary-coffee;
      font-size: 18px;
    }
  }
}
