$primary-blue:#18ABFF;
$primary-light:#FFFFFF;
$primary-red:#DA251C;
$primary-orange:#F97605;
$primary-dark-green:#1F3820;
$primary-dark:#1F3A49;
$primary-dark-tea:#1E151F;
$primary-light-pink:#FEF7F7;
$primary-light-green:#C8EDDD;
$primary-light-red:#F6C5C5;
$primary-light-yellow:#F3F5B1;
$primary-dark-yellow:#ffbf00;
$primary-navbar:#4B1013;
$primary-coffee:#C7A17A;
$primary-coffee-light:#EDDFD1;
$primary-grey-light:#f4efef;
$text-gray:#B5A8A8;

$font:15px;
$font-sm:18px;
$font-md: 22px;
$font-lg:38px;
$font-xl:40px;
$font-xxl:50px;
$font-xxxl:55px;


// admin

$chocolate-light:#704042;
$chocolate-dark:#4B1013;
$green-light:#55efc4;
$green-dark:#00b894;
$yellow-light:#ffeaa7;
$yellow-dark: #fdcb6e;
$sky-light:#81ecec;
$sky-dark:#00cec9;
$orange-light:#fab1a0;
$orange-dark:#e17055;
$blue-light:#74b9ff;
$blue-dark:#0984e3;
$red-light:#ff7675;
$red-dark:#d63031;
$voilet-light:#a29bfe;
$voilet-dark:#6c5ce7;
$pink-light:#fd79a8;
$pink-dark:#e84393;
$black-light:#636e72;
$black-light:#3b3f40;
$white-light:#f5f6fa;
$white-dark:#dcdde1;
$plain-black:#000;
$plain-white:#fff;
$grey-light:#7f8fa6;
$grey-dark:#718093;
$bb-light:#273c75;
$bb-dark:#192a56;