@import "../../styles/var";
.gallery {
  .modal{
    background-color: #00000079;
  }
  .header {
    .icon {
      font-size: $font-lg;
      color: $bb-dark;
    }
    .heading {
      color: $bb-dark;
    }
  }
  .tableContainer {
    overflow: auto;

    table {
      thead{
        th{
          min-width: 200px;
          &:nth-child(1){
            min-width: 80px;
          }
        }
      }
      img {
        width: min-content;
        max-width: 200px;
        height: min-content;
        max-height: 300px;
        cursor: pointer;
      }
    }
  }
}
